node_modules

.next

dist

build

.env
.env.*

coverage

*.log

.vscode/settings.json

turbo

.prisma

generated
/generated/prisma
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
*.exe
.coverage
.coverage.*
*.coverage
